*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

body {
	background: #EFEFEF;
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

.top_head {
	background: #727FA5;
	padding: 20px;
}

.top_head a {
	font-size: 35px;
	color: #fff;
	text-shadow: 0px 1px 0 #344167, 1px 1px rgb(99, 110, 144), 2px 2px rgb(100, 111, 145), 3px 3px rgb(100, 112, 146), 4px 4px rgb(101, 112, 147), 5px 5px rgb(102, 113, 148), 6px 6px rgb(102, 114, 149), 7px 7px rgb(103, 114, 149), 8px 8px rgb(103, 115, 150), 9px 9px rgb(104, 116, 151), 10px 10px rgb(105, 116, 152), 11px 11px rgb(105, 117, 153), 12px 12px rgb(106, 118, 154), 13px 13px rgb(106, 118, 154), 14px 14px rgb(107, 119, 155), 15px 15px rgb(108, 120, 156), 16px 16px rgb(108, 120, 157), 17px 17px rgb(109, 121, 158), 18px 18px rgb(109, 122, 159), 19px 19px rgb(110, 122, 159), 20px 20px rgb(111, 123, 160), 21px 21px rgb(111, 124, 161), 22px 22px rgb(112, 124, 162), 23px 23px rgb(112, 125, 163), 24px 24px rgb(113, 126, 164), 25px 25px rgb(114, 127, 165);
}

.vk {
	font-size: 43px;
	color: #fff;
	float: right;
}
.vk a {
	text-decoration: none;
	color: #fff;
}

.quote h1 {
	display: block;
	padding: 50px;
	margin: 50px;
	font-size: 50px;
}

.menu_nav ul {
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.menu_nav li a {
	color: #fff;
}

.menu_nav ul li {
	display: inline-block;
	padding: 20px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}

.menu_nav {
	background-color: #727F88;
}

.menu_nav ul li:hover {
	background-color: #727FA5;
}

.content_text img {
	max-width: 100%;
}

.sidebar {
	padding: 30px;
	background-color: #ccc;
	margin-top: 50px;
	border-radius: 10px;
}

.main_content p {
	margin-top: 10px;
	padding: -10px;
	text-shadow: 0 1px 0 #fff;
}

.main_content h2 {
	font-family: "RobotoLight"; 
	text-shadow: 0 1px 0 #fff;

}

.sidebar li {
	padding: 5px;
}

.sidebar h2 {
	font-family: "RobotoLight";
	font-size: 14px;
	margin-top: 0px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #ccc;
  text-align: center;
}
